doctype html
meta(charset='utf-8')
meta(name='description' content='Template project using PUG')
link(rel='author' href='https://uncharted.software')

meta(property='og:title' content='ExpressTemplate')
meta(property='og:type' content='website')
meta(property='og:description' content='Template project using PUG')
meta(property='og:image' content='https://uncharted.software/img/uncharted-logo.png')
meta(property='og:url' content='https://uncharted.software')

meta(property='twitter:card' content='summary')
meta(property='twitter:title' content='ExpressTemplate')
meta(property='twitter:description' content='Template project using PUG')
meta(property='twitter:image' content='https://uncharted.software/img/uncharted-logo.png')
meta(property='twitter:url' content='https://uncharted.software')

html
body
    h1 #{title}
    h2 #{message}